<div class="topnav">
  <a href="/index" class="btn btn-link">Home</a><br>
  <a href="/pokemons" class="btn btn-link">Pokemon Index</a><br>
  <a href="/signup" class="btn btn-link">Sign Up</a><br>
  <a href="/logout" class="btn btn-link">Log Out</a>

</div>

<div align="center">
<img src="https://toucantoco.com/blog/wp-content/uploads/2016/07/Capture-d%E2%80%99e%CC%81cran-2016-07-19-a%CC%80-15.27.31.png" width="220" length="150"/>


<h1> Welcome back <%= @trainer.username.upcase %></h1>
<br>
<img src="https://www.nicepng.com/png/full/156-1564887_ball-clipart-pokemon-pokemonball.png" width="50" length="50"/>
<h2> Your Pokedex <h2> <br><div>
<%PokemonTrainer.all.each do |pokemon_trainer|%>
  <%if pokemon_trainer.trainer_id == current_user.id%>
    <form action="/pokemon_trainer/<%= pokemon_trainer.id%>" method="POST">
     <input type="hidden" name="_method" value="delete">
      <%pokemon = Pokemon.find_by_id(pokemon_trainer.pokemon_id) %>
      <%=  pokemon_trainer.nickname.capitalize %><br><br>
      <img src="<%= pokemon[:sprite] %>" alt="" align="center" > <br>
      <%="Height: #{pokemon.height}"%> <br>
      <%="Type: #{pokemon.pokemon_type.capitalize}"%> <br> <br>
      <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
      <input type="submit" value=" Release me " style="background-color:red"> <br>
    </form>
    <form action="/pokemon_trainer/<%= pokemon_trainer.id%>/edit" method="POST">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
        <input type="text" placeholder="Nickname" name="name" id="name" required> 
        <input type="submit" value=" Rename ">
        <br><br>
    </form>
  <%else%>
  <%end%>
<%end%>
<br>
<form action="/logout" method="POST">
<input type="submit" value=" Logout ">
</form>
<br><br>
<h3>Click below to end your Pokemon Journey</h3>
<form action="/delete/<%= @trainer.id %>" method="POST"><br>
<input type="submit" name="method" value=" Delete Trainer ">
</form>
</div>

