<div class="topnav">
  <a href="/index" class="btn btn-link">Home</a><br>
  <a href="/pokemons" class="btn btn-link">Pokemon Index</a><br>
  <a href="/trainer" class="btn btn-link">Trainer</a><br>
  <a href="/login" class="btn btn-link">Log In</a>
<div><br>

<div align="center">

<img src="https://static.giantbomb.com/uploads/scale_super/0/1481/2897229-9939923796-latest" alt="image" height="150" width = "400"
class="center"><br><br><br>
<div>
<h2>A list of Pokemon encountered in the wild</h2>
<form action="/welcome" method="GET">
  <div class="form-group">
    <label class="form-label" for="welcome">  </label>
    <input type="submit" value=" View Your Pokedex " />
  <ul>
    <% Pokemon.all.each.with_index(1) do |pokemon, index|%>
      <%if @pokemon_trainer = PokemonTrainer.find_by(trainer_id: current_user.id, pokemon_id: pokemon.id)%>
          <form action="/pokemon_trainer/<%= @pokemon_trainer.id%>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <%=  "#{index}. #{pokemon["name"].capitalize}" %>
            <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
            <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
            <input type="submit" value=" Release Pokemon " style="background-color:red">
          </form> 
        <%else%>
          <form action="/pokemon/new" method="POST">
            <%=  "#{index}. #{pokemon["name"].capitalize}" %>
            <img src="<%= pokemon[:sprite] %>" alt="" align="center" >
            <input type="hidden" value="<%=pokemon.id%>" name="pokemon">
            <input type="submit" value=" Capture Pokemon ">
          </form>
        <%end%>
    <%end%>
  </ul>

  </ul>
</h3>
      

